@font-face {
  font-family: 'Gismo Trial';
  src: url('../fonts/Gismo-Trial-Round-BF64af6220f00d1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gravitas One';
  src: url('../fonts/GravitasOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ruska';
  src: url('../fonts/ruskadisplay-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


